@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--primary: #060e31;
	--secondary: #2a376a;
	--terciary: #4c62b8;
	--light: #f2f2f2;
	--dark: #333;

	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--primary);
	height: 100vh;
}

button {
	border: none;
	outline: none;
	background: transparent;
	color: var(--light);
	padding: .5rem 1rem;
	font-size: 1.5rem;
	cursor: pointer;
	transition: .35s ease-in-out;
}

/* Responsive template - remove later */
@media screen and (min-width: 375px) {}
@media screen and (min-width: 480px) {}
@media screen and (min-width: 576px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}

/* Window Global */

.window {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	height: 100vh;
	color: var(--light);
	border: 1px solid red;
}

/* Window Start */

#window--start {
	justify-content: center;
	align-items: center;
}

#window--start h1 {
	font-size: 2.4rem;
	text-align: center;
	font-weight: 300;
	padding-inline: .5rem;
}

#window--start nav {
	display: flex;
	flex-direction: column;
	margin-block: 1rem;
}

#window--start nav button {
	margin: 1rem;
	font-size: 1.5rem;
	background: var(--secondary);

}

#window--start h3 {
	font-size: 1.3rem;
	font-weight: 200;
	width: 60%;
	text-align: center;
}

/* Window Start Responsive */
@media screen and (min-width: 480px) {
	#window--start h1 {
		font-size: 2.6rem;
	}

	#window--start nav {
		flex-direction: row;
	}

	#window--start nav button {
		padding: .8rem 1.6rem
	}

	#window--start h3 {
		font-size: 1.5rem;
		width: 100%;
	}

}

@media screen and (min-width: 768px) {
	#window--start h1 {
		font-size: 3rem;
	}

	#window--start h3 {
		font-size: 1.8rem;
	}
}

/* Window Game */

#window--game {
	width: 100%;
	height: 100%;
	padding: 1rem 10%;
}

#window--game header {
	display: flex;
	flex-direction: column;
	border: 1px solid blue;
	margin-bottom: 1rem;
}

#window--game h2 {
	font-weight: 400;
	font-size: 1.4rem;
	margin-bottom: .5rem;
}

#window--game h3 {
	font-weight: 300;
	margin-bottom: .3rem;
}

#window--game #playing-field {
	border: 1px solid pink;
}


#playing-field .card {
	background: var(--terciary);
	border-radius: 1rem;
	overflow: hidden;
}

#playing-field .card.clicked >.card-img {
	transform: rotateY(0);
}

#playing-field .card-img {
	height: 100%;
	width: 100%;
	transition: transform .35s ease-in-out;
	transform: rotateY(90deg);
}

#playing-field {
	display: grid;
	padding: .5rem;
	gap: .5rem;
}

#playing-field.small {
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: 1fr
}

@media screen and (min-width: 576px) {
	#playing-field.small {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) {
	#playing-field.small {
		width: 80%;
		margin: 0 auto;
		grid-template-columns: repeat(6, 1fr);
	}

}

@media screen and (min-width: 992px) {
	#playing-field.small {
		grid-template-columns: repeat(7, 1fr);
	}
}

.modal {
	display: none;
}