@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--primary: #0e1222;
	--secondary: #232d55;
	--terciary: #4c62b8;
	--light: #f2f2f2;
	--dark: #333;

	font-size: 16px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100vw;
	height: 100vh;
	background: var(--primary);
    color: var(--light);
    overflow: hidden;
}

/* View Styles */

.view {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary);
    display: flex;
    align-items: center;
    flex-direction: column;
}

@keyframes SlideOutToRight {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@keyframes SlideInFromRight {
    0% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

@keyframes SlideOutToLeft{
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@keyframes SlideInFromLeft {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

/* View - Welcome */

#welcome {
    padding-top: 17rem;
}

#welcome h1 {
    font-size: 3rem;
    font-weight: 300;
}

#welcome nav {
    margin: 2rem 0;
}

#welcome nav button{
    font-size: 1.7rem;
    padding: 1rem 2rem;
    margin-inline-end: 2rem;
    border: none;
    cursor: pointer;
    background: var(--secondary);
    color: var(--light);
    transition: background .35s ease-in-out;
}

#welcome nav button:is(:active, :hover, :focus) {
    background: var(--terciary);
}

#welcome h3 {
    font-weight: 300;
    font-size: 2rem;
}

#welcome h3 #leaderboard {
    text-decoration: none;
    color: var(--terciary);
    position: relative;
}

#welcome h3 #leaderboard:is(:active, :hover, :focus)::after {
    width: 100%;
}

#welcome h3 #leaderboard::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--terciary);
    transition: width .35s ease-in;
}



/* View - Game*/

#game {
    justify-content: space-around;
}

#game header{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#game header h2 {
    font-size: 2rem;
    font-weight: 300;
}

#game header h3 {
    font-weight: 300;
    font-size: 1.5rem;
    align-self: flex-end;
}

#game .game-grid {
    border: 1rem solid var(--terciary);
    border-radius: 2rem;
    height: 90%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
}

#game .game-grid .card {
    background: #fff;
    border-radius: 1rem;
}
